<section>
    <div class="container">
        <h2 style="color: rgb(241, 242, 247);">Add New Post</h2>
        <form class="new-post-form">
            <div class="mb-3">
                <label for="formControlInput3" class="form-label">Project Name</label>
                <input type="name" class="form-control" id="formControlInput3">
            </div>
            <div class="mb-3">
                <label for="formControlInput4" class="form-label">Hours Worked</label>
                <input type="name" class="form-control" id="formControlInput4">
            </div>
            <div class="mb-3">
                <label for="formControlTextarea5" class="form-label">Project Description</label>
                <textarea class="form-control" id="formControlTextarea5" rows="3"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Create </button>
            </div>
        </form>
    </div>
</section>

<div class="container">
  <div>
    <h2 style="color: white;">Your Recent Timesheets</h2>
  </div>
  <table class="table table-bordered table-primary rounded border-radius ">  
  <thead> 
    <tr> 
      <th scope="col" style="text-align: center;">Employee ID</th>
      <th scope="col" style="text-align: center;">Project Name</th>
      <th scope="col" style="text-align: center;">Project Description</th>
      <th scope="col" style="text-align: center;">Budgeted Hours</th>
      <th scope="col" style="text-align: center;">Time Posted</th>
      <th scope="col" style="text-align: center;">Comments</th>
    </tr>
  </thead>
  {{#each posts}}
  <tbody>
    <tr>
      <td>
          <a style="text-decoration: none;">{{id}}</a>
      </td>
      <td>
          <a style="text-decoration: none;" href="/timesheet/{{id}}">{{project_name}}</a>
      </td>
      <td>
          <a style="text-decoration: none;" href="/timesheet/{{id}}">{{project_description}}</a>
      </td>
      <td>{{hours_worked}} total hrs </td>
      <td>{{employee.email}} clocked in on {{format_date created_at}} </td>
      <td>
        <a href="/timesheet/{{id}}">{{comments.length}} comment(s)</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{!-- <div>
  <a href="/dashboard/edit/{{timesheet.id}}" class="edit-link">Edit post</a>
</div> --}}
{{!-- <div>
    <button type="submit" class="btn btn-primary">Edit Post</button>
</div> --}}

<script src="/javascript/add-post.js"></script>
